@model IEnumerable<ApiFrontend.Players>

@{
    ViewData["Title"] = "Players";
}

<h1>Players</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h1>Test</h1>
            </th>
            <th>
                <h1>Test</h1>
            </th>
            <th>
                <h1>Test</h1>
            </th>
            <th>
                <h1>Test</h1>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Injury)
                </td>
            </tr>

        }
    </tbody>
</table>
